In [33]:
#Dependencies

import pandas as pd
from sqlalchemy import create_engine
from flask import Flask, render_template, redirect,jsonify

In [34]:
# Extract "dictionary.csv" file to datafreame

csv_file = "Data/Chicago Health Atlas.csv"
dictionary_df = pd.read_csv(csv_file)
dictionary_df.head()

,Layer,Name,GEOID,Population,Longitude,Latitude,LFA_2019,VRDIBR_2015-2019,VRDIAR_2015-2019,VRDTH_2015-2019,...,VRADR_2015-2019,POP_2015-2019,POP-I_2015-2019,POP-J_2015-2019,POP-Y_2015-2019,POP-O_2015-2019,POP-S_2015-2019,INC_2015-2019,POV_2015-2019,HDX_2015-2019
0,Community area,Riverdale,54,"7,229",-87.602849,41.660137,99.85,134.2,73.6,239,...,19.5,"7,326",953,"2,066","2,462","1,488",356,"$16,501",53.86,98.6
1,Community area,Hegewisch,55,"9,884",-87.556803,41.668188,30.89,46.8,22.9,442,...,28.3,"9,003",417,"1,417","2,505","2,981","1,683","$58,218",16.79,61.7
2,Community area,West Pullman,53,"25,788",-87.635745,41.673820,63.67,70.1,34.1,"1,622",...,32.6,"26,700","1,869","4,725","7,742","8,109","4,256","$47,005",22.41,82.6
3,Community area,Morgan Park,75,"21,714",-87.669062,41.689729,32.35,61.2,23.3,"1,358",...,38.5,"21,595","1,190","3,614","5,113","7,681","3,997","$67,711",11.89,53.1
4,Community area,South Deering,51,"14,125",-87.570058,41.690639,70.77,68.9,31.5,765,...,25.1,"15,488",875,"3,432","4,587","4,159","2,435","$31,576",38.27,94.3

In [35]:
engine = create_engine('sqlite:///mydatabase.db')
dictionary_df = pd.read_csv(csv_file)

In [ ]:
#"data cleaning and processing"

In [36]:
dictionary_df.to_sql('healthatlas',engine,if_exists='replace')

In [37]:
pd.read_sql_query('select * from healthatlas', con=engine).head()

,index,Layer,Name,GEOID,Population,Longitude,Latitude,LFA_2019,VRDIBR_2015-2019,VRDIAR_2015-2019,...,VRADR_2015-2019,POP_2015-2019,POP-I_2015-2019,POP-J_2015-2019,POP-Y_2015-2019,POP-O_2015-2019,POP-S_2015-2019,INC_2015-2019,POV_2015-2019,HDX_2015-2019
0,0,Community area,Riverdale,54,"7,229",-87.602849,41.660137,99.85,134.2,73.6,...,19.5,"7,326",953,"2,066","2,462","1,488",356,"$16,501",53.86,98.6
1,1,Community area,Hegewisch,55,"9,884",-87.556803,41.668188,30.89,46.8,22.9,...,28.3,"9,003",417,"1,417","2,505","2,981","1,683","$58,218",16.79,61.7
2,2,Community area,West Pullman,53,"25,788",-87.635745,41.673820,63.67,70.1,34.1,...,32.6,"26,700","1,869","4,725","7,742","8,109","4,256","$47,005",22.41,82.6
3,3,Community area,Morgan Park,75,"21,714",-87.669062,41.689729,32.35,61.2,23.3,...,38.5,"21,595","1,190","3,614","5,113","7,681","3,997","$67,711",11.89,53.1
4,4,Community area,South Deering,51,"14,125",-87.570058,41.690639,70.77,68.9,31.5,...,25.1,"15,488",875,"3,432","4,587","4,159","2,435","$31,576",38.27,94.3

In [38]:
dictionary_df.rename(columns={"VRDIBR_2015-2019":"VRDIBR_2015_2019","VRDIAR_2015-2018":"VRDIAR_2015_2018","VRDTH_2015-2019":"VRDTH_2015_2019","VRCAR_2015-2019":"VRCAR_2015_2019","VRADR_2015-2019":"VRADR_2015_2019","HDX_2015-2019":"HDX_2015_2019"},inplace=True)

In [39]:
dictionary_df

,Layer,Name,GEOID,Population,Longitude,Latitude,LFA_2019,VRDIBR_2015_2019,VRDIAR_2015-2019,VRDTH_2015_2019,...,VRADR_2015_2019,POP_2015-2019,POP-I_2015-2019,POP-J_2015-2019,POP-Y_2015-2019,POP-O_2015-2019,POP-S_2015-2019,INC_2015-2019,POV_2015-2019,HDX_2015_2019
0,Community area,Riverdale,54,"7,229",-87.602849,41.660137,99.85,134.2,73.6,239,...,19.5,"7,326",953,"2,066","2,462","1,488",356,"$16,501",53.86,98.6
1,Community area,Hegewisch,55,"9,884",-87.556803,41.668188,30.89,46.8,22.9,442,...,28.3,"9,003",417,"1,417","2,505","2,981","1,683","$58,218",16.79,61.7
2,Community area,West Pullman,53,"25,788",-87.635745,41.673820,63.67,70.1,34.1,"1,622",...,32.6,"26,700","1,869","4,725","7,742","8,109","4,256","$47,005",22.41,82.6
3,Community area,Morgan Park,75,"21,714",-87.669062,41.689729,32.35,61.2,23.3,"1,358",...,38.5,"21,595","1,190","3,614","5,113","7,681","3,997","$67,711",11.89,53.1
4,Community area,South Deering,51,"14,125",-87.570058,41.690639,70.77,68.9,31.5,765,...,25.1,"15,488",875,"3,432","4,587","4,159","2,435","$31,576",38.27,94.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Community area,Edgewater,77,"47,343",-87.663419,41.986719,0.00,50.6,19.1,"1,911",...,18.5,"48,691","1,877","3,499","20,119","15,648","7,547","$71,991",13.15,26.8
73,Community area,Forest Glen,12,"19,579",-87.758358,41.993938,17.52,27.5,5.6,707,...,22.1,"19,362","1,301","3,603","4,135","6,765","3,557","$134,527",4.41,16.7
74,Community area,West Ridge,2,"77,139",-87.695017,42.001583,9.33,61.9,29.7,"2,544",...,21.2,"78,444","6,719","13,896","23,426","23,949","10,454","$65,003",19.52,71.5
75,Community area,Edison Park,9,"11,521",-87.813780,42.007627,26.39,23.5,6.8,439,...,15.2,"11,255",825,"1,591","2,881","4,121","1,837","$111,770",3.51,6.4
76,Community area,Rogers Park,1,"52,772",-87.670171,42.009630,5.68,78.6,29.3,"1,913",...,25.2,"52,553","3,124","6,678","21,570","16,430","4,750","$46,315",24.93,61.6

In [40]:
dictionary_df.to_sql('healthatlas',engine,if_exists='replace')

In [41]:
pd.read_sql_query('select * from healthatlas', con=engine).head()

,index,Layer,Name,GEOID,Population,Longitude,Latitude,LFA_2019,VRDIBR_2015_2019,VRDIAR_2015-2019,...,VRADR_2015_2019,POP_2015-2019,POP-I_2015-2019,POP-J_2015-2019,POP-Y_2015-2019,POP-O_2015-2019,POP-S_2015-2019,INC_2015-2019,POV_2015-2019,HDX_2015_2019
0,0,Community area,Riverdale,54,"7,229",-87.602849,41.660137,99.85,134.2,73.6,...,19.5,"7,326",953,"2,066","2,462","1,488",356,"$16,501",53.86,98.6
1,1,Community area,Hegewisch,55,"9,884",-87.556803,41.668188,30.89,46.8,22.9,...,28.3,"9,003",417,"1,417","2,505","2,981","1,683","$58,218",16.79,61.7
2,2,Community area,West Pullman,53,"25,788",-87.635745,41.673820,63.67,70.1,34.1,...,32.6,"26,700","1,869","4,725","7,742","8,109","4,256","$47,005",22.41,82.6
3,3,Community area,Morgan Park,75,"21,714",-87.669062,41.689729,32.35,61.2,23.3,...,38.5,"21,595","1,190","3,614","5,113","7,681","3,997","$67,711",11.89,53.1
4,4,Community area,South Deering,51,"14,125",-87.570058,41.690639,70.77,68.9,31.5,...,25.1,"15,488",875,"3,432","4,587","4,159","2,435","$31,576",38.27,94.3